<section class="entries">
  <% @entries_by_day.each do |date, entries| %>
    <h2><%= date.to_formatted_s(:long) %></h2>
    <% entries.each do |entry| %>
      <p>
        <strong><%= easternify(entry.created_at, :time) %></strong>: <%= entry.member.name %> <%= entry.formatted_body %>ed the door.
      </p>
    <% end %>
  <% end %>
</section>
