@import "normalize";
@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

body {
  font-family: 'Open Sans', sans-serif;
}

nav.main {
  background: #7EBEA3;
  ul {
    text-align: center;

    li {
      a, a:visited {
        padding: 30px;
        font-weight: 300;
        font-size: 30px;
        color: #fff;
        display: block;
        @include transition (all 0.5s ease-in-out);
      }

      a:hover {
        background: #E0DBA4;
        color: #000;
        -webkit-transition: background 0.5s;
      }
      display: inline-block;
    }

    .active {
      background: #53A08E;
    }
  }
}

nav.actions {
  text-align: center;

  a {
    margin-top: 20px;
    @include button(shiny, #53A08E);
  }
}

section.members {
  $max-width: em(544);
  @include outer-container;

  tr:hover {
    background: #A9CBA6;
    color: #fff;
  }

  td {
    padding: 0;
    font-size: 25px;

    a, a:visited {
      display: block;
      padding: 1em 0;
      color: #000;
    }
  }

  td:last-child {
    font-size: 35px;
    font-weight: 300;
  }
}

form {
  margin-top: 20px;
  text-align: left;

  input[type='submit'] {
    margin-top: 10px;
    @include button(shiny, #53A08E);
  }

  .actions div {
    float: right;

    input[type='submit'] {
      @include button(shiny, red);
    }
  }
}

section.messages {
  $max-width: em(1088);
  @include outer-container;

  td {
    padding-right: 0.75em;
  }
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;

  $footer-size: 50px;
  a {
    width: $footer-size;
    height: $footer-size;
    text-indent: -9999px;
    background: url("/switchboard.svg") no-repeat;
    background-size: $footer-size;
    display: block;
  }
}
