<nav class="actions">
  <%= link_to 'New Member', new_member_path %>
</nav>

<section class="members">
  <table>
  <% @members.each do |member| %>
    <tr>
      <td>
        <%= link_to member.name, edit_member_path(member) %>
      </td>
      <td>
        <%= link_to member.phone_number, edit_member_path(member) %>
      </td>
    </tr>
  <% end %>
  </table>
</section>
